<!DOCTYPE html>
<html lang="en">
    <title>Menu</title>
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="section-main">
            <% for(let i=0; i < allProducts.length; i++){%>
            <div class="product">
                <div class="product-description">
                    <img src="/img/products/<%= allProducts[i].image %>" alt="img">
                    <div class="product-name"><%= allProducts[i].name%></div>
                    <div class="price"><%= allProducts[i].price %></div>
                    <div class="add-button">
                        <button class="button" type ="submit"> Agregar </button>
                    </div>
                    <section>
                        <p class="description"><%= allProducts[i].description %></p>
                    </section>
                </div>
            </div>
            <%}%> 
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>