<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/galleryStyles.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
    <% include('../../partials/head') %>
</head>
<%- include('../../partials/header') %>
<body>
    <% Object.keys(productos).forEach(key => { %>
        <% const producto = productos[key]; %>
        <div class="producto">
            <h2><%= producto.product_name %></h2>
            <p><%= producto.description %></p>
            <img src="<%= producto.image %>" alt="<%= producto.product_name %>">
            <p>Precio: <%= producto.price %></p>
            <p>Categoría: <%= producto.category %></p>
        </div>
    <% }) %>
    >
</body>
<footer>
    <%- include('../../partials/footer') %>
</footer>
</html>
