<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/galleryStyles.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
    <% include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/header') %>
    <h1>Galeria de Compras</h1>
    <div class="productos-container">
        <% let contador = 0; %>
        <% productos.forEach(producto => { %>
            <% if (producto !== null) { %>
                <% if (contador % 3 === 0) { %>
                    <div class="fila">
                <% } %>
                <div class="producto">
                    <h2 class="productName"><%= producto.product_name %></h2>
                    <div class="contenedor-imagen-y-comprar">
                        <img class="imgFromGallery" src="/images/productImages/<%= producto.image %>" alt="<%= producto.product_name %>">
                        <a href="/" class="enlace-comprar"><span>Comprar</span></a>
                    </div>
                    <p class="productDescription"><%= producto.description %></p>
                    <p class="productPrice">Precio: <%= producto.price %></p>
                    <p class="productCategory">Categoría: <%= producto.category %></p>
                </div>
                <% contador++; %>
                <% if (contador % 3 === 0 || contador === productos.length) { %>
                    </div> <!-- Cierre de fila -->
                <% } %>
            <% } %>
        <% }) %>
    </div> <!-- Cierre de productos-container -->
    <footer>
        <%- include('../../partials/footer') %>
    </footer>
</body>
</html>